/*-- scss:defaults --*/

$link-color: #6ea8fe;

/*-- scss:rules --*/

.experience-card {
  border-color: #444;
  background: rgba(255, 255, 255, 0.03);
}

.experience-card img {
  background: #2b2b2b;
}

.pub-img img {
  border-color: #444;
}

.about-image img {
  border-color: #444;
}
